body {
    background: url(dorabackground.jpg) #328728 no-repeat center;
     }
p {
    color: rgb(196, 152, 124);
  }
.DORAGIF9000 {
    background: url() no-repeat center;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
             }
.DORAGIF9000 img {
    height: 136;
    width: auto;
                 }